@font-face {
  font-family: headFontz;

  src: url(fonts/setofont.woff.ttf) format("truetype");
}

#zinkfont {
  /* hindi nagana.... */
  font-family: headFontz;   
}


body {
  background-color: #50BCB9;
background-attachment: fixed;
background-size: 100% 100%;
}


#header {
background-color:#F4B998;
width:97%;
margin-top:10px;
  border-radius: 27px;
  box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);
  border: 2px solid black;
  position: fixed;
  margin: auto;
  margin-left: 8px;
}

.head-view {
margin:auto;
width:1300px;
line-height:50px;
}

.head-view label {
color:#111;
font-size:25px;
font-weight: 2px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.head-view label:hover {
  color: #eeeeee;
  cursor: pointer;
}

.head-view  li a > img{ 
height: 45px;
  height: 45px;
  margin-top: 10px;
  margin-right:10px;
  transition: 0.5s ease;
}

.head-view img {
  width: 45px;
}

.head-view li a > img:hover{
  transform: scale(1.5);
}

.head-view ul {
width: 1200px;
height: 75px;
margin: auto;
}

.head-view  li {
display: inline-block;
margin: 5px 30px 5px 5px;
  vertical-align: middle;
}

.head-view  li a {
text-decoration:none;
  color:#111;
}

.active {
padding: 5px 0px 5px 0px;
border-top: 4px solid #fff;
}

.head-view b {
color:#111;
font-size:50px;
}

.btn-sign-in {
color:#111;
font-size:19px;
width:100px;
line-height:30px;
background-color:#eeeeee;
border:2px solid black;
border-radius:27px;
-webkit-border-radius:27px;
-moz-border-radius:27px;
-o-border-radius:27px;
margin-top:0px;
}

.btn-sign-in:hover {
color:#eeeeee;
background-color:#111;
border:2px solid black;
}

.btn-sign-up {
color:#ffffff;
font-size:19px;
width:100px;
line-height:30px;
background-color:#0bacff;
border:2px solid #0bacff;
border-radius:100px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-o-border-radius:100px;
}

.btn-sign-up:hover {
color:#ffffff;
background-color:#0488cd;
border:2px solid #0488cd;
}

#container {
width:1200px;
margin:auto;
}

#left-nav {
width: 348px;
height:125px;
float:left;
 border: 2px solid black;  
  border-radius: 27px;
  box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);
-webkit-border-radius: 27px;
-moz-border-radius: 27px;
border-radius: 27px;
margin-top:87px;
position: fixed;
background-color: #44A9CC;
}

#left-nav1 {
float: right;
width:750px;
 border: 2px solid black;  
  border-radius: 27px;
  box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);
-webkit-border-radius: 27px;
-moz-border-radius: 27px;
border-radius: 27px;
margin-top: 15px;
background-color: #EB563A;
margin-bottom: 15px;
margin-right:2.5%;
}

fieldset {
border:3px solid black;
border-radius:27px;
width: 80%;
margin: auto;
}

.clip1{
margin-top: 10px;
margin-left: 15px;
position: relative;
width: 95px;
height: 100px;
}
.clip1 img {
width: 95px;
height: 100px;
margin: auto;	
left: 15px;
border: solid 2px black;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.user-details {
width: 200px;
margin-left: 130px;
font-size: 16px;
line-height: 25px;
text-align:left;
margin-top: -100px;
}

.user-details h3, h2 {
color:#111;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
}

#right-nav {
float:right;
width:800px;
background-color:#FFB600;
-webkit-border-radius: 27px;
-moz-border-radius: 27px;
  border: 2px solid black;  
  border-radius: 27px;
  box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);
  margin-top:87px;
margin-bottom: 2%;
}

.info-user {
width:400px;
margin:auto;
}

.edit-info {
float:right;
margin-right:10px;
}
.edit-info button {
margin-top: 270px;
position: fixed;
color:#111;
font-size:19px;
width:150px;
line-height:30px;
background-color:#eeeeee;
border:2px solid black;
border-radius:27px;
-webkit-border-radius:27px;
-moz-border-radius:27px;
-o-border-radius:27px;
}

.edit-info button:hover {
color:#eeeeee;
background-color:#111;
border:2px solid black;
}

#right-nav  button {
float:right;
color:#111;
font-size:19px;
width:100px;
line-height:30px;
background-color:#eeeeee;
border:2px solid black;
border-radius:27px;
-webkit-border-radius:27px;
-moz-border-radius:27px;
-o-border-radius:27px;
margin-top:0px;
margin-right: 2%;
margin-bottom: 2%;
}

#right-nav  button:hover {
color:#eeeeee;
background-color:#111;
border:2px solid black;
}

#right-nav hr {
width:80%;
margin:auto;
}

#left-nav  button {
color:#111;
font-size:16px;
width:150px;
line-height:30px;
background-color:#eeeeee;
border:2px solid black;
border-radius:27px;
-webkit-border-radius:27px;
-moz-border-radius:27px;
-o-border-radius:27px;
margin-top:10px;
}

#left-nav  button:hover {
color:#eeeeee;
background-color:#111;
border:2px solid black;
}

#right-nav label {
color:#111;
font-size:25px;
font-weight: 2px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

#right-nav b {
color:#111;
font-size:20px;
font-weight: 2px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

#right-nav h1 {
text-indent:10px;
color:#111;
font-size:30px;
font-weight: 2px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.profile-pics {
position:relative;
}

.profile-pics img {
width:70px;
height:70px;
border:2px solid #CCCCCC;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.profile-pics b {
color:#000000;
text-shadow:1px 1px 1px #73cfff;
margin-left:16px;
font-size:23px;
}

.profile-pics strong {
color:#000000;
margin-left:10px;
font-size:20px;
}

/*upload*/

.ed{
border-style:solid;
border-width:thin;
border-color:#00CCFF;
padding:5px;
margin-bottom: 4px;
}

#button1{
text-align:center;
font-family:Arial, Helvetica, sans-serif;
border-style:solid;
border-width:thin;
border-color:#00CCFF;
padding:5px;
background-color:#00CCFF;
height: 34px;
}
.form-1 {
width:300px;
text-indent:5px;
height:25px;
font-size:19px;
border-radius:27px;
-webkit-border-radius:27px;
-moz-border-radius:27px;
-o-border-radius:27px;
background-color:#eeeeee;
border:2px solid black;
}

table td {
color:#111;
font-size:20px;
}

table a {
text-decoration:none;
color:#0000ff;
}

table a:hover {
color:#ff0000;
}

#left-nav1 table {
width:80%;
margin:auto;
}

#left-nav1 b {
color:#111;
font-size:18px;
}

#left-nav1 b:hover {
color:#111;
text-shadow:2px 2px 2px #000000;
}

#left-nav1 label {
color:#111;
font-size:23px;
font-weight:bold;
}


